<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Personal Information
  </h1>
  <img width="200" alt="color-pallete" src="assets\imgs\personality.png">
</div>
<br>
<h3>Please fill below inputs. We assure you your information will be kept secret and be safe with us.</h3>
<br>
<div class="row">
  <div class="col-sm-3"><input type="text" placeholder="name"></div>
  <div class="col-sm-3"><input type="text" placeholder="email"></div>
  <div class="col-sm-3"><input type="text" placeholder="age"></div>
  <div class="col-sm-3"><input type="text" placeholder="gender"></div>
</div>
<br>
<div class="row">
  <div class="col-sm-12 text-center"><button class="">Proceed to next page</button></div>
</div>
  