<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Color Pallete Test
  </h1>
  <img width="200" alt="neo-test" src="assets\imgs\pantone.svg">
</div>
<br>
<h3>Choose a color for every concept.</h3>
<p>A concept will be shown to you. Choose a color first comes to your mind. Estimated time to finish this porsesh name will be 3 minutes.</p>
<br>
<br>
<div class="row">
  <div class="col-sm-12 text-center">
    <button class="btn btn-info" routerLink="/palleteDetails">Proceed</button>
  </div>
</div>
<br>
<br>