<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Neo Personality Test
  </h1>
  <img width="200" alt="neo-test" src="assets\imgs\NeoTest.svg">
</div>
<br>
<h3>Answer to below questions.</h3>
<p>Estimated time to finish this porsesh name will be 10 minutes.</p>
<br>
<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <ul *ngFor="let q of questions; let i = index">
      <span class="numHolder">{{i+1}}.</span>{{q}}
      <br>
      <br>
      <div class="radioBoxContainer">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" [attr.id]="'radio-1-' + i" type="radio" value="1" (click)="check(1, i)"> Strongly Agree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" [attr.id]="'radio-2-' + i" type="radio" value="2" (click)="check(2, i)" > Agree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" [attr.id]="'radio-3-' + i" type="radio" value="3" (click)="check(3, i)" > Neutral
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" [attr.id]="'radio-4-' + i" type="radio" value="4" (click)="check(4, i)" > Disagree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" [attr.id]="'radio-5-' + i" type="radio" value="5" (click)="check(5, i)" > Strongly Disagree
          </label>
        </div>
      </div>
      <hr>
    </ul>
  </div>
  <div class="col-lg-1"></div>
</div>
<br>
<div class="row">
  <div class="col-sm-12 text-center">
    <button class="btn btn-info" (click)="checkAnswers()">Proceed to pallete page</button>
  </div>
</div>
<br>
<br>
<div class="modal fade" id="Congrags" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cheer up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Thanks. Now we proceed to colors test which is shorter than this test.
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="QuestionsWithNoAnswer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Some Questions have no answer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        There are questions you give them no answer. The list of their numbers are given below. You can move to colors test, though.
        <br>
        <br>
        <h5>Questions with no answer:</h5>
        <span *ngFor="let na of indexQuestionsWithNoAnswer; let i = index">
          {{na+1}} <span [hidden]="i==indexQuestionsWithNoAnswer.length-1" >,</span>
        </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">back</button>
        <button type="button" class="btn btn-primary" (click)="forceToColor()">Proceed to color test</button>
      </div>
    </div>
  </div>
</div>