<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Neo Personality Test
  </h1>
  <img width="200" alt="neo-test" src="assets\imgs\NeoTest.svg">
</div>
<br>
<h3>Please fill below inputs.</h3>
<p>These data is needed to getting output. We assure you your information will be kept secret and be safe with us.</p>
<br>
<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Name</span>
      </div>
      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Email</span>
      </div>
      <input type="email" class="form-control" id="basic-url" aria-describedby="basic-addon3">
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Age</span>
      </div>
      <input type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3">
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Gender</span>
      </div>
      <select class="form-control" id="sel1">
        <option>Male</option>
        <option>Female</option>
      </select>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12 text-center">
    <button class="btn btn-info" routerLink="/neoTest">Proceed to next page</button>
  </div>
</div>
<br>
<br>