<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Neo Personality Test
  </h1>
  <img width="200" alt="neo-test" src="assets\imgs\NeoTest.svg">
</div>
<br>
<h3>Answer to below questions.</h3>
<p>Estimated time to finish this porsesh name will be 10 minutes.</p>
<br>
<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <ul *ngFor="let q of questions; let i = index">
      <span class="numHolder">{{i+1}}.</span>{{q}}
      <br>
      <br>
      <div class="radioBoxContainer">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="1" [(ngModel)]="answers[i]"  (ngModelChange)="whatHappens($event)" [checked]= "answers[i] === '1'" > Strongly Agree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="2" [(ngModel)]="answers[i]" (ngModelChange)="whatHappens($event)" [checked]= "answers[i] === '2'" > Agree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="3" [(ngModel)]="answers[i]" (ngModelChange)="whatHappens($event)" [checked]= "answers[i] === '3'"> Neutral
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="4" [(ngModel)]="answers[i]" (ngModelChange)="whatHappens($event)" [checked]= "answers[i] === '4'"> Disagree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="5" [(ngModel)]="answers[i]" (ngModelChange)="whatHappens($event)" [checked]= "answers[i] === '5'"> Strongly Disagree
          </label>
        </div>
      </div>
      <hr>
    </ul>
  </div>
  <div class="col-lg-1"></div>
</div>
<br>
<div class="row">
  <div class="col-sm-12 text-center">
    <button class="btn btn-info" routerLink="/mainPallete" (click)="checkAnswers()">Proceed to pallete page</button>
  </div>
</div>
<br>
<br>