<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h1>
    Welcome to Color Pallete!
  </h1>
  <img width="200" alt="color-pallete" src="assets\imgs\palette.svg">
</div>
<br>
<h5>Color pallete is a study that helps generating new, easy to understand and more accurate psychological tests.</h5>
  <br>
  <h3> Here you will: </h3>
<ul>
  <li>
    <p>Give a FREE Neo test (the results will be emailed to you as soon as you give the test).</p>
  </li>
  <li>
    <p>A meaning will be given to you. You should choose a color between given colors which came to your mind first. For example
      if someone asks you what is the color of God? You may choose white as the God's color. This color is a representation
      of that meaning in your mind. </p>
  </li>
  <li>
    <p>At the end, a special code will be given to you, that you can use to know results as soon as they prepare. This code
      can be used in feature any time you want.</p>
  </li>
</ul>
<div class="row">
  <div class="col-sm-12 text-center">
    <button routerLink="/userInfo" class="btn btn-success">Let's GO!</button>
  </div>
</div>
<br>